.container {
    position: relative;
    left: 10%;
    right: 10%;
}

#main {
    position: relative;
    width: 600px;
}

#nav #next {
    right: 5px;
}

#nav #prev {
    left: 5px;
}

#nav #prev,
#nav #next {
    position: absolute;
    top: 45%;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#nav #prev:hover,
#nav #next:hover {
    cursor: pointer;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

#slider {
    overflow: hidden;
    position: relative;
    width: 600px;
}

#slider .images {
    display: block;
    width: 10000px;
    margin: 0;
    padding: 0;
}

#slider .image {
    float: left;
    max-height: 200px;
    list-style-type: none;
}

.images li img {
    width: 200px;
}

.current {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.images li img:hover {
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
}


#navSlider img {
    height: 32px;
}

#navSlider #leftSlider {
    position: relative;
    left: 5px;
}

#navSlider #rightSlider {
    position: absolute;
    right: 5px;
}

#navSlider #leftSlider:hover,
#navSlider #rightSlider:hover {
    cursor: pointer;
}